CapaDato/DaoArandaDb.cs
ReporteTareas/obj/Debug/ReporteTareas.csproj.CoreCompileInputs.cache
ReporteTareas/obj/Debug/ReporteTareas.csproj.FileListAbsolute.txt
ReporteTareas/obj/Release/ReporteTareas.csproj.FileListAbsolute.txt
ReporteTareas/ReporteTareas.csproj.user
/.vs/ReporteTareas/config
/.vs/ReporteTareas/config
.vs/ReporteTareas/config/applicationhost.config
.vs/ReporteTareas/config/applicationhost.config
