USE [ReporTarea]
GO
/****** Object:  Table [dbo].[SaldoVacaciones]    Script Date: 08/11/2021 11:08:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaldoVacaciones](
	[IdSaldos] [bigint] IDENTITY(1,1) NOT NULL,
	[PERNR] [varchar](50) NULL,
	[PERIODO] [varchar](50) NULL,
	[DIASGENERADOS] [decimal](18, 2) NULL,
	[DIASTOMADOS] [decimal](18, 2) NULL,
	[SALDO] [decimal](18, 2) NULL,
	[FECHAREGISTRO] [datetime] NULL,
 CONSTRAINT [PK_SaldoVacaciones] PRIMARY KEY CLUSTERED 
(
	[IdSaldos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SaldoVacaciones] ON 

INSERT [dbo].[SaldoVacaciones] ([IdSaldos], [PERNR], [PERIODO], [DIASGENERADOS], [DIASTOMADOS], [SALDO], [FECHAREGISTRO]) VALUES (1, N'1', N'2018-2019', CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(N'2021-11-08T09:48:39.990' AS DateTime))
INSERT [dbo].[SaldoVacaciones] ([IdSaldos], [PERNR], [PERIODO], [DIASGENERADOS], [DIASTOMADOS], [SALDO], [FECHAREGISTRO]) VALUES (2, N'1', N'2019-2020', CAST(27.42 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(27.42 AS Decimal(18, 2)), CAST(N'2021-11-08T09:48:39.990' AS DateTime))
INSERT [dbo].[SaldoVacaciones] ([IdSaldos], [PERNR], [PERIODO], [DIASGENERADOS], [DIASTOMADOS], [SALDO], [FECHAREGISTRO]) VALUES (3, N'2', N'2019-2020', CAST(10.17 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(10.17 AS Decimal(18, 2)), CAST(N'2021-11-08T09:48:39.993' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SaldoVacaciones] OFF
